@import "variables";
@import "mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 32px;
    margin: auto;
}

nav{
    width: 100%;
    padding: 20px 0;
    background-color: $color1;
    .container1{
        max-width: 1300px;
        width: 100%;
        padding: 0 32px;
        margin: auto;
        .navbar{
            @include flex;
            img{
                cursor: pointer;
            }
            ul{
                display: flex;
                gap: 35px;
                li{
                    list-style-type: none;
                    font-family: $font-family1;
                    font-size: 17px;
                    a{
                        text-decoration: none;
                        color: rgb(37, 37, 37);
                        transition: all .5s ease;
                        &:hover{
                            color: $color2;
                        }
                    }
                }
            }
            button{
                width: 150px;
                height: 50px;
                font-family: $font-family1;
                font-size: 17px;
                color: $color1;
                background-color: $color2;
                border: 1px solid $color2;
                border-radius: 5px;
                transition: all .5s ease;
                &:hover{
                    background: none;
                    color: $color2;
                    cursor: pointer;
                }
            }
           
        }
        i{
            font-size: 30px;
            display: none;
        }
    }
}
hr{
    width: 100%;
    // border: 0.5px solid rgba($color: grey, $alpha: 0.2);
}

.section1{
    width: 100%;
    display: flex;
    .build{
        width: 52%;
        padding: 120px 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .business{
            width: 220px;
            height: 30px;
            // background-color: rgba(40,69,186,0.1);
            font-family: $font-family2;
            color: $color2;
            font-size: 15px;
            @include center;
            font-weight: 550;
        }
        h1{
            font-family: $font-family1;
            font-size: 48px;
            color: $color4;
        }
        p{
            font-family: $font-family1;
            font-size: 22px;
            color: $color4;
        }
        .get{
            display: flex;
            width: 450px;
            height: 55px;
            margin-top: 30px;
            input{
                width: 65%;
                height: 100%;
                border: 1px solid $color2;
                font-family: $font-family1;
                padding-left: 20px;
                font-size: 17px;
            }
            input:focus{
                outline: none;
                border-color: $color2;
            }
            .free{
                width: 35%;
                height: 100%;
                background-color: $color2;
                font-family: $font-family1;
                font-size: 17px;
                color: $color1;
                @include center;
                cursor: pointer;
            }
        }
    }
    .photo{
        width: 48%;
        img{
            width: 100%;
        }
    }
}

.section2{
    width: 100%;
    padding: 100px 0;
    .olla{
        @include center;
        .help{
            width: 60%;
            @include center;
            flex-direction: column;
            gap: 15px;
            h2{
                font-family: $font-family1;
                font-size: 35px;
                color: $color4;
                text-align: center;
            }
            p{
                font-family: $font-family2;
                font-size: 19px;
                color: $color3;
                text-align: center;
            }
        }
    }
    .combine{
        @include flex;
        margin-top: 50px;
        .design{
            width: 32%;
            padding: 70px 50px;
            @include center;
            flex-direction: column;
            gap: 20px;
            // background-color: rgba($color: pink, $alpha: 0.2);
            transition: all .5s ease;
            h3{
                font-family: $font-family1;
                color: $color4;
                font-size: 23px;
            }
            img{
                width: 30%;
            }
            p{
                font-family: $font-family2;
                color: $color3;
                font-size: 19px;
                text-align: center;
            }
            &:hover{
                // background-color: rgba($color: cyan, $alpha: 0.1);
            }
        }
    }
}

@media screen and (max-width:990px) {
    nav{
        .navbar{
            ul{
                li{
                    display: none;
                }
            }
            button{
                display: none;
            }
            i{
                display: block;
            }
        }
    }
    .section2{
        .olla{
            .help{
                width: 100%;
            }
        }
        .combine{
            flex-wrap: wrap;
            .design{
                width: 47%;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .section1{
        flex-direction: column;
        .build{
            width: 100%;
        }
        .photo{
            display: none;
        }
    }
    
}

@media screen and (max-width:576px) {
    .section1{
        .build{
            width: 100%;
            padding: 20px;
        }
    }
    .section2{
        .combine{
            flex-direction: column;
            .design{
                width: 100%;
            }
        }
    }
}